<div class="home">
  <div id="header">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="assets/first slide.jpeg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/second sllide.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/third.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="intro">
    <div class="waviy">
      <span style="--i: 1">W</span>
      <span style="--i: 2">E</span>
      <span style="--i: 3">L</span>
      <span style="--i: 4">C</span>
      <span style="--i: 5">O</span>
      <span style="--i: 6">M</span>
      <span style="--i: 7">E</span>
      <span style="--i: 8">_</span>
      <span style="--i: 9">T</span>
      <span style="--i: 10">O</span>
      <span style="--i: 11">_</span>
      <span style="--i: 12">E</span>
      <span style="--i: 13">V</span>
      <span style="--i: 14">E</span>
      <span style="--i: 15">N</span>
      <span style="--i: 16">T</span>
      <span style="--i: 17">_</span>
      <span style="--i: 18">M</span>
      <span style="--i: 19">A</span>
      <span style="--i: 20">N</span>
      <span style="--i: 21">A</span>
      <span style="--i: 22">G</span>
      <span style="--i: 23">E</span>
      <span style="--i: 24">M</span>
      <span style="--i: 25">E</span>
      <span style="--i: 26">N</span>
      <span style="--i: 2">T</span>
    </div>

    <div class="content">
      <p>
        Event Management Hub is dedicated to redefining the art of event
        planning by seamlessly integrating every aspect, from tantalizing
        cuisine and captivating entertainment to exquisite decorations, ensuring
        that every event is an unforgettable masterpiece.
      </p>
    </div>
    <div class="box">
      <div class="row">
        <div class="col">
          <h2>Experience</h2>
          <p>0+</p>
        </div>
        <div class="col">
          <h2>Weddings</h2>
          <p>0+</p>
        </div>
        <div class="col">
          <h2>Fests</h2>
          <p>0+</p>
        </div>
        <div class="col">
          <h2>Birthdays</h2>
          <p>0+</p>
        </div>
      </div>
    </div>
  </div>
  <div class="Services">
    <div class="waviy">
      <span style="--i: 1">O</span>
      <span style="--i: 2">U</span>
      <span style="--i: 3">R</span>
      <span style="--i: 4">_</span>
      <span style="--i: 5">S</span>
      <span style="--i: 6">E</span>
      <span style="--i: 7">R</span>
      <span style="--i: 8">V</span>
      <span style="--i: 9">I</span>
      <span style="--i: 10">C</span>
      <span style="--i: 11">E</span>
      <span style="--i: 12">S</span>
    </div>
  </div>
  <div class="scards">
    <div class="row">
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="/assets/hospitality.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2>Hospitality</h2>
            <p class="card-text">
              Ensuring guests feel welcome and comfortable. Attentive staff,
              smooth registration, helpful information booths, and clear signage
              are all crucial.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="assets/mirror-ball.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2>Entertainment</h2>
            <p class="card-text">
              Live music, DJs, performers, workshops, interactive games, or even
              keynote speakers. Entertainment keeps guests engaged and creates a
              lively atmosphere.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="assets/sound-system.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2>Sound-System</h2>
            <p class="card-text">
              Crystal-clear audio for speeches, music, and announcements. Invest
              in good equipment and hire skilled sound technicians for optimal
              acoustics.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="assets/entry.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2>Entry</h2>
            <p class="card-text">
              Creating a smooth and secure entry flow. Ticketing systems,
              registration desks, and clear access points ensure a positive
              first impression.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="assets/photography.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2>PhotoGraphy</h2>
            <p class="card-text">
              Preserving memories and capturing the event's essence. Hiring a
              professional photographer or setting up photo booths adds a
              special touch.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="assets/catering.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2>Catering</h2>
            <p class="card-text">
              The logistics of preparing and serving food seamlessly. Choosing
              the right caterer, managing portions, and ensuring dietary
              restrictions are met is key.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="assets/tendon.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2>Food</h2>
            <p class="card-text">
              Catering to taste buds and dietary needs. From gourmet meals to
              casual buffets or food trucks, the right food choices elevate the
              experience.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="assets/wedding-arch.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2>Decoration</h2>
            <p class="card-text">
              Setting the mood and enhancing the venue's ambiance. Think themed
              decorations, lighting, floral arrangements, and creative
              backdrops.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="col">
        <h2>Event Management</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          nulla est delectus? Hic minus quaerat repellendus eius maxime amet
          iusto, voluptas ipsam pariatur? Quidem ad esse, ipsum incidunt
          inventore voluptatibus.
        </p>
      </div>
      <div class="col">
        <h2>Links</h2>
        <ul type="none">
          <li>Home</li>
          <li>About Us</li>
          <li>Careers</li>
          <li>Gallery</li>
          <li>Reach Us</li>
        </ul>
      </div>
      <div class="col">
        <h2>Contact Us</h2>
        <p>
          Meridian Plaza ,Opposite to the Vijaya Diagnostics Center,Metro Pillar
          No : C 1432,Ameerpet,Hyderabad,500072
          <a href="#">eventManagement4321</a>
        </p>
        <p>Social Platforms</p>
        <div class="Socials">
          <button class="Insta btn btn-warning">
            <i class="fa-brands fa-instagram"></i>
          </button>
          <button class="Face btn btn-primary">
            <i class="fa-brands fa-facebook"></i>
          </button>
          <button class="Whatsapp btn btn-success">
            <i class="fa-brands fa-whatsapp"></i>
          </button>
          <button class="Twitter btn btn-info">
            <i class="fa-brands fa-twitter"></i>
          </button>
          <button class="Youtube btn btn-danger">
            <i class="fa-brands fa-youtube"></i>
          </button>
        </div>
      </div>
      <div class="col">
        <h2>Help</h2>
      </div>
    </div>
  </div>
</div>
