.events {
    background-image: url("/assets/theme-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    text-align: center;
    justify-content: center;
    padding: 10%;
  }