<div class="about">
  <div class="a-container">
    <div class="scroll-container">
      <img src="assets/first slide.jpeg" alt="Cinque Terre" />
      <img src="assets/second sllide.jpg" alt="Forest" />
      <img src="assets/third.jpg" alt="Northern Lights" />
      <img src="assets/haldi.jpeg" alt="haldi" />
      <img src="assets/Happy Birthday.jpg" alt="haldi" />
      <img src="assets/musicband.jpeg" alt="haldi" />
    </div>
    <div class="row">
      <div class="col">
       <img src="assets/Icon.jpg" alt="logo">
      </div>
      <div class="col">
        <h2>EVENT MANAGEMENT ACHIEVEMENTS</h2>
        <P
          >Welcome to the page dedicated to showcasing 20 remarkable
          achievements and accomplishments in the field of event planning. As an
          event planner, it is crucial to highlight your successful endeavors,
          innovative strategies, and exceptional skills that have set you apart
          in a competitive industry. These achievements exemplify your ability
          to deliver outstanding events, surpass client expectations, and drive
          remarkable outcomes. Whether you are a seasoned event planner seeking
          to enhance your resume or a prospective employer looking for a
          talented professional, this collection of achievements serves as a
          testament to your expertise and dedication.</P
        >
        
      </div>
    </div>
    <div class="footer">
        <div class="row">
          <div class="col">
            <h2>Event Management</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
              nulla est delectus? Hic minus quaerat repellendus eius maxime amet
              iusto, voluptas ipsam pariatur? Quidem ad esse, ipsum incidunt
              inventore voluptatibus.
            </p>
          </div>
          <div class="col">
            <h2>Links</h2>
            <ul type="none">
              <li>Home</li>
              <li>About Us</li>
              <li>Careers</li>
              <li>Gallery</li>
              <li>Reach Us</li>
            </ul>
          </div>
          <div class="col">
            <h2>Contact Us</h2>
            <p>
              Meridian Plaza ,Opposite to the Vijaya Diagnostics Center,Metro Pillar
              No : C 1432,Ameerpet,Hyderabad,500072
              <a href="#">eventManagement4321</a>
            </p>
            <p>Social Platforms</p>
            <div class="Socials">
              <button class="Insta btn btn-warning">
                <i class="fa-brands fa-instagram"></i>
              </button>
              <button class="Face btn btn-primary">
                <i class="fa-brands fa-facebook"></i>
              </button>
              <button class="Whatsapp btn btn-success">
                <i class="fa-brands fa-whatsapp"></i>
              </button>
              <button class="Twitter btn btn-info">
                <i class="fa-brands fa-twitter"></i>
              </button>
              <button class="Youtube btn btn-danger">
                <i class="fa-brands fa-youtube"></i>
              </button>
            </div>
          </div>
          <div class="col">
            <h2>Help</h2>
          </div>
        </div>
  </div>
</div>
